/* === GENERIC PLAYER === */
/* Colors: var(--vibrant), var(--lightVibrant),
   var(--darkVibrant), var(--muted),
   var(--lightMuted), var(--darkMuted) */

.title > *, .artist > * {
  font-family: "Rubik", sans-serif;
}

.mainDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}

.picDiv {
  overflow: hidden;
  z-index: 2;
}

.pic {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 1rem;
  border: 0.2rem solid var(--lightMuted);
}

.textDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20rem;
  height: 8rem;
  margin-left: -1rem;
  border-radius: 0 1rem 1rem 0;
  border: 0.2rem solid var(--vibrant);
  border-left: none;
  background-color: var(--darkMuted);
  z-index: 1;
}

.title, .artist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 1.2;
  color: var(--lightVibrant);
  white-space: nowrap;
  overflow: hidden;
}

.title {
  margin-bottom: 0.3rem;
}

.title > * {
  font-size: 1.8rem;
}

.artist > * {
  font-size: 1.7rem;
}